.content-verification{
    display:flex;
    flex-direction: column;
    align-items: center;
    b{
        font-family:'bold';
    }
    .logo{

        background:none;
        margin:1.25rem 0 0 0;
        width: 3.5rem;
      img{
        border-radius: 10rem;
      }
    }
    h1, h2, h3, span{
        text-align: left;
        font-family: ku;
        font-size:4rem;
    }
    h2 {
        font-size:1.5rem;
        font-family: kl;
    }
    h3 {
        font-size:2.75rem;
    }
    h4{
      font-family: kl;
      font-size:1.4rem;
      }
    p, li{
        font-family:kl;
        font-size:1.2rem;
        line-height: normal;
    }
.content-verification2{
  margin-top:2.5rem;
  background:#02090A;
  border-top-left-radius:3rem;
  border-top-right-radius:3rem;
  padding:0 5rem;
  padding-bottom:5rem;
  h1{
      padding-top:6rem;
      color:#fff;
      font-family: ku;
      text-align: center; 
    }
    p {
  padding:0 10rem;
  font-size: 1.2rem;
  margin-left: 0;
  color: #fafafa;
}
    .box{
          h2{
      color:#fff;
      font-family:ku;
      padding:4rem 10rem 0 10rem;
    }
p {
  font-size: 1.2rem;
  margin-left: 0;
  color: #fafafa;
}
  p:nth-child(n){
    padding-top: 1rem;
  }
    a{
      font-family:kl;
      font-size:1.2rem;
      text-decoration: underline;
      color:#0ccdf4;
      font-weight: bold;
    }
  img{
    padding-top:2rem;
    width:40%;
  }
    }

}
}
@media (min-width: 566px) and (max-width: 970px) {
.content-verification{
  .content-verification2{
  margin-top:1.5rem;
  padding:0 0;
  h1{
    font-size:3rem;
    padding-left:6rem;
    padding-right:6rem;
  }
  p {
  padding:0 10rem;
  font-size: 1.2rem;
  margin-left: 0;
  color: #fafafa;
}
    .box{
 h2{
      padding:4rem 10rem 0 10rem;
    }
p {
  font-size: 1.2rem;
  margin-left: 0;
}
  img{
    padding-top:2rem;
    width:50%;
  }
    }

}
}
}
@media (max-width: 565px) {
.content-verification{
  .content-verification2{
  margin-top:1.5rem;
  padding:0 0;
  h1{
    font-size:2rem;
  }
  p {
  padding:0 3rem;
  font-size: 1.2rem;
  margin-left: 0;
  color: #fafafa;
}
    .box{
 h2{
      padding:4rem 3rem 0 3rem;
    }
p {
  font-size: 1.2rem;
  margin-left: 0;
}
  img{
    padding-top:2rem;
    width:75%;
  }
    }

}
}
}