.content-privacy{
    display:flex;
    flex-direction: column;
    align-items: center;
    b{
        font-family:'bold';
    }
    .logo{

        background:none;
        margin:1.25rem 0 0 0;
        width: 3.5rem;
      img{
        border-radius: 10rem;
      }
    }
    h1, h2, h3, span{
        text-align: left;
        font-family: ku;
        font-size:4rem;
    }
    h2 {
        font-size:1rem;
        font-family: kl;
    }
    h3 {
        font-size:2.75rem;
    }
    h4{
      font-family: kl;
      font-size:1.4rem;
      }
    p, li{
        font-family:kl;
        font-size:1.2rem;
    }
.content-privacy2{
  margin-top:2.5rem;
  background:#02090A;
  border-top-left-radius:3rem;
  border-top-right-radius:3rem;
  padding:0 5rem;
  padding-bottom:5rem;
  h2, span{
      padding-top:6rem;
      margin-left:0;
      color:#fff;
    }
  span{
      font-size:3rem;
      font-family:ku;
  }
p {
  font-size: 1.2rem;
  margin-left: 0;
  color: #fafafa;
}
  p:nth-child(n){
    padding-top: 1.5rem;
  }
    a{
      font-family:kl;
      font-size:1.2rem;
      text-decoration: underline;
      color:#0ccdf4;
      font-weight: bold;
    }
  ul{
        padding-top: 1.5rem;
    li{
        padding-top:.5rem;
        font-size: 1.2rem;
        margin-left: 0;
        color: #fafafa;
    }
  }
}
}

@media (min-width: 660px) and (max-width: 874px) {
.content-privacy{
  .logo{
    margin-left:1rem;
  }
.content-privacy2{
  margin-left:0;
  margin-right:0;
  padding-left: 2rem;
  padding-right: 2rem;
  border-top-left-radius:1.5rem;
  border-top-right-radius:1.5rem;
}
}
}
@media (max-width: 659px) {
.content-privacy{
  .logo{
    margin-left:1rem;
  }
.content-privacy2{
  margin-left:0;
  margin-right:0;
  padding-left: 2rem;
  padding-right: 2rem;
  border-top-left-radius:1.5rem;
  border-top-right-radius:1.5rem;
}
}
}