.about-container{
    display:flex;
    flex-direction: column;
    b{
        font-family:'bold';
    }
    .logo{
        background:none;
        margin:1.25rem 0 1.25rem 5rem;
        width: 3.5rem;
        img{
        border-radius: 10rem;
        }
    }
    h1, h2, h3, span{
        font-style: normal;
        text-align: left;
        font-family: ku;
        font-size:4.5rem;
    }
    h2 {
        font-size:4.5rem;
        font-family: kl;
    }
    h2 span{
      font-size:4.5rem;
      font-family: ku;
    }
    h3 {
        font-size:2.75rem;
    }
    h4{
      font-family: kl;
      font-size:1.35rem;
      color:$darkred;
      }
    p{
        font-family:kl;
        font-size:1.25rem;
    }
    a{
      font-family: kl;
    }
.content{
  display:flex;
  flex-direction:row;
  margin-left:0;
.inner-content{
      display: flex;
      flex-direction: column;
      margin-left:5rem;
      margin-top:2.5rem;
.text{
    h1{
        margin-left:0;
        width:100%;
        font-size:2.5rem;
    }
    p{
        text-align: left;
        padding-top: .35rem;
        margin-left:0;
        width:100%;
    }
}
.btn { 
  display: flex;
  margin-left: 0;
  margin-top: 1rem;
  margin-bottom: 4rem;
  .pricebtn {
    border-radius: 5rem;
    padding: 1rem 1.75rem;
    background-color: #02090A;
    color: #fafafa;
    border: none;
    border-radius: .5rem;
    font-size: 1rem;
    font-family: bold;
  &:hover {
    opacity: .85;
    cursor: pointer;
  }
  }
}
  }
.inner-content1{
      margin:1rem 3.5rem 0 0rem;
      width:47.5%;
    img{
      width: 80%;
      border-radius: 2rem;
    }
  }
}

.inner-content2{
  background:#02090A;
  border-top-left-radius:2rem;
  border-top-right-radius:2rem;
  padding:0 5rem;
  padding-bottom:5rem;
  h2, h2 span{
      padding-top:6rem;
      margin-left:0;
      color:#fafafa;
    }
  h2 span{
    font-size:5rem;
  }
p, .text{
  width:95%;
  padding-top: 1.5rem;
  font-size: 3rem;
  margin-left: 0;
  color: #7a7a7a; //fb
  background:#7a7a7a;
  transition: all 0.5s ease-in-out;
  background-image: linear-gradient(90deg, #ff6600, #ff0044);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-position: left;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  &:hover {
      background-size: 100% 100%;
      -webkit-text-fill-color: transparent;
      animation: shimmer 1.5s linear infinite;
  }
}
p span, .text span{
  font-size:3.5rem;
}
@keyframes shimmer {
  0% {
      background-position: -100% 0;
  }
  100% {
      background-position: 200% 0;
  }
}
}

.inner-content25{
  background:#02090A;
  border-radius:2rem;
  padding:0 5rem;
  margin-left:5rem;
  margin-right:5rem;
  width: auto;
  text-align: left;
p, .text{
  text-align: left;
  padding-top: 1.5rem;
  font-size: 3rem;
  margin: 0 auto;
  margin-bottom:4rem;
  color: #7a7a7a; //fb
  background:#7a7a7a;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(90deg, #ff6600, #ff0044);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-position: left;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  &:hover {
      background-size: 100% 100%;
      -webkit-text-fill-color: transparent;
      animation: shimmer 1.5s linear infinite;
  }
}
.btn { 
  display: flex;
  margin:0 auto 6rem auto;
  .pricebtn {
    border-radius: 5rem;
    padding: 1rem 1.75rem;
    border: 0.2rem solid #fafafa;
    color: #fafafa;
    text-decoration: none;
    font-size: 1.2rem;
    background: transparent;
    cursor: pointer;
    font-family:bold;
    &:hover {
      background-color: #3a3a3a;
      color: #fafafa;
    }
  }
}
@keyframes shimmer {
  0% {
      background-position: -100% 0;
  }
  100% {
      background-position: 200% 0;
  }
}
}
.inner-content25{
  margin-top:14rem;
  margin-left:5rem;
  margin-right:5rem;
  border-radius:2rem;
  padding:8rem 8rem;
  width:auto;
  p, .text{
    text-align: left;
    font-family: ku;
    background-color:#fafafa;
    font-size: 4rem;
    margin-bottom: 0; 
  }
  .tag{
    padding-top:2rem;
    p{
      text-align: left;
      font-size:1.25rem;
      padding:0;
      margin-bottom: 0; 
      background-image: none;
      user-select: none;
      pointer-events: none;
      font-family: kl;
    }
    p:nth-child(2){
      font-family: ku;
      padding-top: .5rem;
      background-color:#7a7a7a;
    }
  }
}
.floatimg{
  margin-top: 8rem;
  img{
    margin: 0 auto;
    width: 30%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
  }
}
.inner-content3sm{
      margin:0 5rem;
  .boxmat{
    width:100%;
    height:auto;
  }
  .grid{
  display:grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  width: auto;
  .box {
    display: flex;
    flex-direction: column;
    background: transparent;
    text-align: left;
    height: 100%;
    width: 100%;
    background:#000;
    padding:2rem 1rem 2rem 1rem;
    border-radius: 2rem;
    h1 {
      padding-top: 1rem;
      padding-bottom: 0.75rem;
      font-family: ku;
      color:#7a7a7a;
      text-align: center;
    }
    p{
      padding-bottom: 0rem;
      color: #fafafa;
      flex-grow: 1;
      text-align: center;
      font-size:2.5rem;
      width:100%;
    }
.btn { 
  display: flex;
  margin:3rem auto 3rem auto;
  color:#fafafa;
  .pricebtn {
    border-radius: 5rem;
    padding: 1rem 1.75rem;
    border: 0.2rem solid #fafafa;
    color: #fafafa;
    text-decoration: none;
    font-size: 1.2rem;
    background: transparent;
    cursor: pointer;
    font-family:bold;
    &:hover {
      background-color: #3a3a3a;
      color: #fafafa;
    }
  }
}
  }
}
}
}
@media (min-width: 875px) and (max-width: 1264px) {
.about-container{
  h3{
      font-size:2.75rem;
  }
  .logo{
    margin-left:2.5rem;
  }
.content{
.inner-content{
  margin-left:2.5rem;
  }
}
.inner-content2{
  margin: 0 auto;
  padding:0 2.5rem;
  border-top-left-radius:1.5rem;
  border-top-right-radius:1.5rem;
  padding-bottom:5rem;
  h2, h2 span{
    padding-top:3.5rem;
    font-size:3.5rem;
    }
    h2 span{
      font-size:4rem;
    }
  p, .text {
    margin-bottom: 3.5rem;
    padding-top: 1rem;
    width:100%;
  }
}
.floatimg{
  img{
    width: 45%;
  }
}
}
}
@media (min-width: 660px) and (max-width: 874px) {
.about-container{
  h3{
      font-size:2.75rem;
  }
  .logo{
    margin-left:2.5rem;
  }
.content{
  flex-direction: column;
.inner-content{
        margin-left:2.5rem;
    .text{
      h1{
        font-size: 2.5rem;
      }
    }
  }
 .inner-content1{
  margin:0 auto;
  margin-top: 3rem;
  width:100%;
  img {
    display: block;
    margin:0 auto;
    width: 80%;
    margin-bottom:0;
    border-radius: 0;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
  }
 }
}
.inner-content2{
  padding:0 2.5rem;
  border-top-left-radius:1.5rem;
  border-top-right-radius:1.5rem;
  padding-bottom:3rem;
  h2{
    padding-top:3.5rem;
    font-size:3rem;
    width:100%;
    }
    h2 span{
      font-size:3.5rem;
    }
  p, .text {
    margin-bottom: 3.5rem;
    padding-top: 1rem;
    font-size:2.25rem;
    width:100%;
  }
    p span{
    font-size:2.5rem;
  }
}
.floatimg{
  img{
    width: 55%;
  }
}
.inner-content25{
  margin-top:8rem;
  margin-bottom:6rem;
  margin-left:1.5rem;
  margin-right:1.5rem;
  padding:4rem 2rem;
  p, .text{
    font-size: 2rem;
  }
  .tag{
    p{
      font-size:1rem;
    }
    p:nth-child(2){
      padding-top: .35rem;
    }
  }
}
.inner-content3sm{
   margin-top:0rem;
  margin-bottom:-2rem;
  margin-left: .25rem;
  margin-right: .25rem;
.grid{
  margin:1.25rem;
  grid-template-columns: repeat(1, 1fr);
  .box{
  p, .text {
      width:92.5%;
    }
}
}
}
}
}
@media (max-width: 659px) {
.about-container{
 h3{
      font-size:2.25rem;
  }
  h4{
    font-size:1.15rem;
  }
  .logo{
    margin-left:1rem;
  }
.content{
  flex-direction: column;
.inner-content{
        margin-left:1rem;
        margin-top: 1rem;
    .text{
      h1{
        font-size:1.5rem;
      }
      p{
        padding-top:1.5rem;
        padding-bottom:.5rem;
        width:87.5%;
      }
    }
  }
 .inner-content1{
  margin:0 auto;
  margin-top: 3rem;
  width:100%;
  img {
    display: block;
    margin:0 auto;
    width: 80%;
    margin-bottom:0;
    border-radius: 0;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
  }
 }
}
.inner-content2{
  margin-left:0;
  margin-right:0;
  margin-bottom: 4rem;
  padding:0 2rem;
  padding-bottom:3rem;
  border-top-left-radius:1.5rem;
  border-top-right-radius:1.5rem;
  h2, h2 span{
    padding-top:3.5rem;
    font-size:1.5rem;
    }
    h2 span{
      font-size:1.75rem;
    }
  p, .text {
    margin-bottom: 3.5rem;
    padding-top: 1rem;
    font-size:1.75rem;
    width:100%;
  }
  p span, .text span{
    font-size:1.75rem;
  }
}
.floatimg{
  margin-top:6rem;
  img{
    width: 74%;
  }
}
.inner-content25{
  margin-left:1.5rem;
  margin-right:1.5rem;
  padding:0 1rem;
  h2, h2 span{
      padding-top:2.25rem;
      font-size:2.25rem;
    }
p, .text{
  padding-top: 1rem;
  font-size: 1.75rem;
}
}
.inner-content25{
  p, .text{
    margin-bottom:2rem;
  }
    .btn{
        margin-bottom:4rem;
      .pricebtn{
      font-size: 1rem;
      }
    }
}

.inner-content25{
  margin-top:0rem;
  margin-bottom:4rem;
  padding:4rem 2rem;
  p, .text{
    font-size: 2rem;
  }
  .tag{
    p{
      font-size:1rem;
    }
    p:nth-child(2){
      padding-top: .35rem;
    }
  }
}
.inner-content3sm{
  margin:0 0;
  margin-top:-3rem;
  margin-bottom:6rem;
  padding:0 1.5rem;
.grid{
  grid-template-columns: repeat(1, 1fr);
  margin-left: 0;
  margin-right: 0;
.box{
  h1{
    font-size: 2.25rem;
  }
   p, .text {
      width:92.5%;
      font-size: 1.75rem; 
    }
  .btn{
    margin-top:2rem;
    margin-bottom:1.5rem;
  }
}
}
}
}
}