.container{
    display:flex;
    flex-direction: column;
    b{
        font-family:'bold';
    }
    .logo{
        background:none;
        margin:1.25rem 0 0 5rem;
        width: 3.5rem;
        img{
        border-radius: 10rem;
        }
    }
    h1, h2, h3, span{
        text-align: left;
        font-family: ku;
        font-size:3.5rem;
    }
    h2 {
        font-size:4.5rem;
        font-family: kl;
    }
    h3 {
        font-size:2.75rem;
        line-height:3.5rem;
    }
    h4{
      font-family: kl;
      font-size:1.4rem;
      }
    p{
        font-family:kl;
        font-size:1.2rem;
    }
.content{
  display:flex;
  flex-direction:row;
  margin-left:0;
  margin-bottom:3.5rem;
  img{
    position:absolute;
    top:19rem;
    left:50rem;
    width:20rem;
    display:none;
  }
.inner-content{
      display: flex;
      flex-direction: column;
      margin-left:5rem;
      margin-top:12rem;
.text{
    h1{
        margin-left:0;
        max-width:70%;
    }
    p{
        text-align: left;
        line-height:1.65rem;
        padding:1rem 0rem .5rem 0;
        margin-left:0;
    }
}
form {
  display: flex;
  flex-direction: column;
  margin-left: 0;
.input-wrapper {
  position: relative;
  width: 28rem;
}
input.email {
  width: 100%;
  padding: 0.85rem 6rem 0.85rem 0.75rem;
  font-family: Arial, sans-serif;
  color: #000;
  border: .15rem solid #02090A;
  border-radius: 0.2rem;
  font-size: 1.1rem;
  box-sizing: border-box;

  &:focus {
    outline: none;
    box-shadow: 0 0 1px 1px #02090A;
    border-color: #02090A;
    caret-color: #02090A;
  }
}

button.submit {
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  padding: 0 1rem;
  background-color: #fafafa;
  color: black;
  border: none;
  border-left: .12rem solid #02090A;
  border-radius: 0 0.2rem 0.2rem 0;
  font-size: 1rem;

  &:hover {
    background-color: #F5F5F5;
    cursor: pointer;
  }
}
}
  }
}
.inner-content2{
  margin-top:2.5rem;
  background:#02090A;
  border-top-left-radius:3rem;
  border-top-right-radius:3rem;
  padding:0 5rem;
  h2, span{
      padding-top:6rem;
      margin-left:0;
      color:#fff;
      width:87.5%;
    }
  span{
      font-size:4.5rem;
      font-family:ku;
  }
p {
  padding-top: 1.5rem;
  font-size: 3rem;
  margin-left: 0;
  margin-bottom: 5rem;
  color: #71717A; //fb
  background:#71717A;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(90deg, #ff6600, #ff0044);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-position: left;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  &:hover {
      background-size: 100% 100%;
      -webkit-text-fill-color: transparent;
      animation: shimmer 1.5s linear infinite;
  }
}

@keyframes shimmer {
  0% {
      background-position: -100% 0;
  }
  100% {
      background-position: 200% 0;
  }
}
}
.inner-content3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 0 5rem;
  align-items: stretch;
  .box {
    display: flex;
    flex-direction: column;
    background: transparent;
    text-align: left;
    padding: 0;
    height: 100%;
    img {
      border-radius: 0.5rem;
      width: 100%;
      height: auto;
    }
  }
}
.inner-content4 {
        display:flex;
        margin:9rem 5rem 5rem 5rem;
        h3{
            margin-left: 0;
        }
        p{
            color: #71717A;
            width:67.5%;
        }
}
.inner-content5 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 0 5rem;
  align-items: stretch;
  .box {
    display: flex;
    flex-direction: column;
    background: transparent;
    text-align: left;
    padding: 0;
    height: 100%;

    img {
      border-radius: 0.5rem;
      width: 100%;
      height: auto;
    }

    h1 {
      font-size: 1.25rem;
      padding-top: 1.5rem;
      padding-bottom: 0.75rem;
      margin: 0;
      font-family: bold;
    }
    p {
      color: #71717A;
      margin: 0;
      flex-grow: 1;
    }
  }
}
.btn { 
  display: flex;
  margin-top:2rem;
  .pricebtn {
    border-radius: 5rem;
    padding: 1rem 1.75rem;
    border: 0.15rem solid #000;
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
    background: transparent;
    cursor: pointer;
    font-family:bold;

    &:hover {
      background-color: #fafafa;
      color: #000;
    }
  }
}
.inner-content7 { 
      display:flex;
      flex-direction:row;
      margin:9rem 5rem 5rem 5rem;
      .text{
        display:flex;
        flex-direction:column;
        h4{
          padding-bottom:.6rem;
          margin-left:0;
          color:rgb(198, 4, 36);
        }
      h3{
          margin-left: 0;
      }
      }
      p{
          padding-top:.25rem;
          width:80%;
          color: #71717A;
          margin-bottom: .5rem;
      }
}
.ads-carousel {
  position: relative;
  width: 35%;
  overflow: hidden;
  .carousel-track {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%; // 3 slides
  }
  .carousel-slide {
    flex: 0 0 100%;
    box-sizing: border-box;
  }
  .box {
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius:.5rem;
    img {
      width: 60%;
      border-radius: 2.75rem;
    }
    h1 {
      text-align: center;
      font-size: 1.25rem;
      padding-top: 2rem;
      padding-bottom: 0.75rem;
      margin: 0;
      font-family: bold;
    }
    p {
      text-align: center;
      color: #71717A;
      margin: 0;
      flex-grow: 1;
    }
  }
  .carousel-button {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background:none;
  border: none;
  cursor: pointer;
  color: #000;
  font-size: 2rem;
  z-index: 2;
    &.prev {
      left: 0.5rem;
    }
    &.next {
      right: 0.5rem;
    }
  }
}
.inner-content10{
  .header{
  margin:9rem 5rem 3rem 5rem;
  display:flex;
  flex-direction:column;
  h4{
    padding-bottom:.6rem;
    margin-left:0;
    color:rgb(198, 4, 36);
  }
  h3{
    margin-left: 0;
  }
 }
.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 0 5rem;
  .box {
    display: flex;
    flex-direction: column;
    background: transparent;
    text-align: left;
    height: 100%;
    background:#000;
    padding:1rem 1rem;
    border-radius: .5rem;
    img {
      border-radius: 0.5rem;
      width: 100%;
      height: auto;
    }

    h1 {
      font-size: 1.25rem;
      padding-top: 2rem;
      padding-bottom: 0.75rem;
      margin: 0;
      font-family: bold;
      color:#fff;
    }
    p {
      color: #71717A;
      margin: 0;
      flex-grow: 1;
    }
  }
}
}
.inner-content11{
  margin:9rem 5rem 3rem 5rem;
.header{
  display:flex;
  flex-direction:column;
  margin-bottom: 3rem;
  h4{
    padding-bottom:.6rem;
    margin-left:0;
    color:rgb(198, 4, 36);
  }
  h3{
    margin-left: 0;
  }
 }
  .box {
    display: flex;
    flex-direction: column;
    background: transparent;
    text-align: left;
    height: 100%;
    background:#000;
    padding:1rem 1rem;
    border-radius: .5rem;
    img {
      border-radius: 0.5rem;
      width: 100%;
      height: auto;
    }

    h1 {
      font-size: 1.25rem;
      padding-top: 2rem;
      padding-bottom: 0.75rem;
      margin: 0;
      font-family: bold;
      color:#fff;
    }
    p {
      color: #71717A;
      margin: 0;
      flex-grow: 1;
    }
  }
}
.inner-content12{
  margin:9rem 5rem 3rem 5rem;
  .header{
  display:flex;
  flex-direction:column;
  margin-bottom: 3rem;
  h4{
    padding-bottom:.6rem;
    margin-left:0;
    color:rgb(198, 4, 36);
  }
  h3{
    margin-left: 0;
  }
 }
.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  .box {
    display: flex;
    flex-direction: column;
    background: transparent;
    text-align: left;
    height: 100%;
    background:#000;
    padding:1rem 1rem;
    border-radius: .5rem;
    img {
      border-radius: 0.5rem;
      width: 100%;
      height: auto;
    }

    h1 {
      font-size: 1.25rem;
      padding-top: 2rem;
      padding-bottom: 0.75rem;
      margin: 0;
      font-family: bold;
      color:#fff;
    }
    p {
      color: #71717A;
      margin: 0;
      flex-grow: 1;
    }
  form {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top:1.25rem;
.input-wrapper {
  position: relative;
  width: 29.75rem;
}
input.email {
  width: 100%;
  padding: 0.85rem 6rem 0.85rem 0.75rem;
  font-family: Arial, sans-serif;
  color: #000;
  border: .15rem solid #02090A;
  border-radius: 0.2rem;
  font-size: 1.1rem;
  box-sizing: border-box;

  &:focus {
    outline: none;
    box-shadow: 0 0 1px 1px #02090A;
    border-color: #02090A;
    caret-color: #02090A;
  }
}

button.submit {
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  padding: 0 2rem;
  background-color: #fafafa;
  color: black;
  border: none;
  border-left: .12rem solid #02090A;
  border-radius: 0 0.2rem 0.2rem 0;
  font-size: 1rem;

  &:hover {
    background-color: #F5F5F5;
    cursor: pointer;
  }
}
}
.pricebtn {
    margin-top:1.25rem;
    border-radius: 5rem;
    padding: 1rem 1.75rem;
    border: 0.15rem solid #fafafa;
    color: #fafafa;
    text-decoration: none;
    font-size: 1.2rem;
    background: transparent;
    cursor: pointer;
    font-family:bold;

    &:hover {
      background-color: #1f1f1f;
      color: #fff;
    }
  }
  }
}
}
.inner-blog {
  display:none;
  margin: 9rem 5rem 0 5rem;
  .header{
  margin-bottom:3rem;
  display:flex;
  flex-direction:column;
  h4{
    padding-bottom:.6rem;
    margin-left:0;
    color:rgb(198, 4, 36);
  }
  h3{
    line-height:3.5rem;
    margin-left: 0;
  }
 }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    padding: 0;
    list-style: none;

    .box {
      overflow: hidden;
      transition: transform 0.3s ease;
      display: flex;
      flex-direction: column;
      text-align: left;

      &:hover {
        transform: translateY(-4px);
      }

      a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        height: 100%;
        img {
          width: 100%;
          height: 12.5rem;
          object-fit: cover;
          border-radius: 0.5rem;
        }
    h2 {
      font-size: 1.25rem;
      padding-top: .5rem;
      padding-bottom: 0.25rem;
      margin: 0;
      font-family: bold;
    }
    p {
      color: #71717A;
      margin: 0;
      flex-grow: 1;
    }
      }
    }
  }
}
.footer {
  width: 100%;
  padding: 10rem 5rem 3rem 5rem;
  box-sizing: border-box;
  .footer-top {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 1px solid #333;
    padding-bottom: 4rem;
    margin-bottom: 2rem;

    .footer-logo {
      margin:0;
      padding-right:14rem;
      img {
        width: 3rem;
        border-radius:10rem;
      }
    }

.footer-links {
      display: flex;
      margin:0 0;
.column {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  margin-top: 0;

  h4,
  a {
    text-align: left;
    width: 100%;
  }

  h4 {
    font-family: bold;
    margin-bottom: 1rem;
    font-size: 0.85rem;
  }

  a {
    color: #000;
    text-decoration: none;
    margin-bottom: 0.75rem;
    font-size: 0.825rem;
    &:hover {
      color: #808182;
      text-decoration: underline;
    }
  }
}

    }
  }

  .footer-bottom {
    display: flex;
    .footer-meta {
      display: flex;
      flex-wrap: wrap;
      gap: 1.25rem;
      margin-left:0;
      a {
        font-size:.825rem;
        color: #000;
          &:hover {
          color: #808182;
          text-decoration: underline;
        }
      }
    }

    .footer-social {
      display: flex;
      gap: 1.25rem;
      margin-right:0;
      img {
        width:1.15rem;
      }
    }
  }
}

.fade-in {
  animation: scrollFadeIn .55s ease-in-out forwards;
}
.fade-out {
  animation: scrollFadeOut 10s ease-out forwards;
}
@keyframes scrollFadeIn {
  from {
    opacity: 0;
    transform: translateY(40%) scale(1.02);
  }
  to {
    opacity: 1;
    transform: translateY(0%) scale(1);
  }
}
@keyframes scrollFadeOut {
  from {
    opacity: 1;
    transform: translateY(0%) scale(1);
  }
  to {
    opacity: 0;
    transform: translateY(-40%) scale(0.98);
  }
}
}

@media (min-width: 1101px) and (max-width: 1224px) {
  .content{
.inner-content{
    .text{
      h1,span{
        font-size:3.25rem;
        width:100%;
      }
    }
  }
}
}

@media (min-width: 875px) and (max-width: 1100px) {
.container{
  h3{
      font-size:2.75rem;
      line-height:3.25rem;
  }
  h4{
      font-size:1rem;
    }
  .logo{
    margin-left:2.5rem;
  }
.content{
  margin-top:8rem;
  margin-bottom:3.5rem;
  img{
    position:relative;
    top:-12.5rem;
    left:-19rem;
    width:16rem;
  }
.inner-content{
        margin-top:5rem;
        margin-left:2.5rem;
    .text{
      h1, span{
        font-size:2.895rem;
        width:75%;
      }
      p{
        padding-top:2.5rem;
        padding-bottom:.5rem;
      }
    }
form {
.input-wrapper {
  width: 22rem;
  }
    }
  }
}
.inner-content2{
  margin: 0 auto;
  padding:0 2.5rem;
  border-top-left-radius:1.5rem;
  border-top-right-radius:1.5rem;
  h2{
    padding-top:3.5rem;
    font-size:3.5rem;
    width:100%;
    }
    span{
    font-size:3.5rem;
    }
  p {
    margin-bottom: 3.5rem;
    padding-top: 1rem;
    width:100%;
  }
}
.inner-content3 {
    margin: 0 2.5rem;
}
.inner-content4 {
    margin: 11rem 2.5rem 0 2.5rem;
    flex-direction: column;
    p{
        padding-top:.5rem;
        margin-left:0;
        width:100%;
    }
}
.inner-content5 {
  margin: 0rem 2.5rem 0rem 2.5rem;
  .box{
    padding-top:2.5rem;
    text-align: center;
    h1{
      text-align: center;
    }
  }
}
.btn{
    margin: 2rem auto;
}
.inner-content7 {
  margin: 5rem 2.5rem 0 2.5rem;
  flex-direction:column;
  padding-bottom: 2rem;
  p{
      margin-left:0;
      width:100%;
  }
}
.ads-carousel {
  margin: 0 auto;
  width: 40%;
 .box {
    img {
      border-radius: 1rem;
    }
  } 
.carousel-button {
  top: 40%;
  }
}
.inner-content10{
  margin: 0 2.5rem 0 2.5rem;
.header{
  margin:5rem 0 1.5rem 0;
  h4{
        padding-bottom:.25rem;
  }
 }
  .grid{
      width:100%;
      margin:0 0;
  }
}
.inner-content11{
  display:none;
}
.inner-content12{
  margin: 7rem 2.5rem 0 2.5rem;
  .header{
    margin-bottom:1.5rem;
  flex-direction:column;
    h4{
        padding-bottom:.25rem;
  }
  }
.grid{
.box{
form {
.input-wrapper {
  width: 28.5rem;
}
}
}

}
}
}
}
@media (min-width: 660px) and (max-width: 874px) {
.container{
  h3{
      font-size:2.75rem;
      line-height:3.25rem;
  }
  h4{
      font-size:1rem;
    }
  .logo{
    margin-left:2.5rem;
  }
.content{
  margin-top:8rem;
  margin-bottom:3.5rem;
  img{
    position:relative;
    top:-12.5rem;
    left:-19rem;
    width:16rem;
  }
.inner-content{
        margin-top:5rem;
        margin-left:2.5rem;
    .text{
      h1, 
      span{
        font-size:2.25rem;
        width:100%;
      }
      p{
        padding-top:2.5rem;
        padding-bottom:.5rem;
      }
    }
form {
.input-wrapper {
  width: 22rem;
  }
    }
  }
}
.inner-content2{
  padding:0 2.5rem;
  border-top-left-radius:1.5rem;
  border-top-right-radius:1.5rem;
  h2{
    padding-top:3.5rem;
    font-size:1.75rem;
    width:100%;
    }
    span{
      font-size:1.75rem;
    }
  p {
    margin-bottom: 3.5rem;
    padding-top: 1rem;
    font-size:1.5rem;
    width:100%;
  }
}
.inner-content3 {
    margin: 0 2.5rem;
}
.inner-content4 {
    margin: 5rem 2.5rem 0 2.5rem;
    flex-direction: column;
    p{
        padding-top:.5rem;
        margin-left:0;
        width:100%;
    }
}
.inner-content5 {
  margin: 0 auto;
  grid-template-columns: repeat(1, 1fr);
  width:68.5%;
  .box{
    padding-top:1.5rem;
    text-align: center;
    h1{
      text-align: center;
      padding-top: 1rem;
    }
  }
}
.btn{
    margin: 2rem auto;
}
.inner-content7 {
  margin: 5rem 2.5rem 0 2.5rem;
  flex-direction:column;
  padding-bottom: 2rem;
      .text{
        h4{
          padding-bottom:.25rem;
        }
      }
  p{
      margin-left:0;
      width:100%;
  }
}
.ads-carousel {
  margin: 0 auto;
  width: 50%;
 .box {
    img {
      border-radius: 1rem;
    }
  } 
.carousel-button {
  top: 40%;
  }
}
.inner-content10{
  margin: 0rem 2.5rem 0 2.5rem;
.header{
  margin:5rem 0rem 1.5rem 0rem;
  h4{
        padding-bottom:.25rem;
  }
 }
  .grid{
      grid-template-columns: repeat(1, 1fr);
      width:77%;
  }
}
.inner-content11{
  display:none;
}
.inner-content12{
  margin: 9rem 2.5rem 0 2.5rem;
  .header{
    margin-bottom:1.5rem;
  flex-direction:column;
    h4{
        padding-bottom:.25rem;
  }
  }
.grid{
  grid-template-columns: repeat(1, 1fr);
  width:75%;
.box{
form {
.input-wrapper {
  width: 32rem;
}
}
}

}
}
.footer {
  padding: 9rem 1.25rem 5rem 1.25rem;
  .footer-top {
    flex-direction:column;
    .footer-logo {
      img {
        display:none;
      }
    }
  }
    .footer-bottom {
      padding-bottom:1.25rem;
    .footer-social {
      gap:1.25rem;
      img {
        width:1.1rem;
      }
    }
  }
}
}
}
@media (max-width: 659px) {
.container{
  h3{
      font-size:2.25rem;
      line-height:2.75rem;
  }
  h4{
      font-size:1rem;
    }
  .logo{
    margin-left:1rem;
  }
.content{
  margin-top:8rem;
  margin-bottom:4rem;
  img{
    position:relative;
    top:-12.5rem;
    left:-19rem;
    width:16rem;
  }
.inner-content{
        margin-top:5rem;
        margin-left:1rem;
    .text{
      h1, 
      span{
          font-size:1.5975rem;
      }
      h1{
        width:100%;
      }
      p{
        padding-top:2.5rem;
        padding-bottom:.5rem;
      }
    }
form {
.input-wrapper {
  width: 22rem;
  }
    }
  }
}
.inner-content2{
  margin-left:0;
  margin-right:0;
  padding:0 2rem;
  border-top-left-radius:1.5rem;
  border-top-right-radius:1.5rem;
  h2{
    padding-top:3.5rem;
    font-size:1.75rem;
    width:100%;
    }
    span{
      font-size:1.75rem;
    }
  p {
    margin-bottom: 3.5rem;
    padding-top: 1rem;
    font-size:1.5rem;
    width:100%;
  }
}
.inner-content3 {
    margin: 0 1rem;
}
.inner-content4 {
    margin: 5rem 1rem 0 1rem;
    flex-direction: column;
    p{
        padding-top:.5rem;
        margin-left:0;
        width:100%;
    }
}
.inner-content5 {
  margin: 0rem 1rem 0rem 1rem;
  grid-template-columns: repeat(1, 1fr);
  .box{
    padding-top:1.5rem;
    text-align: center;
    h1{
      text-align: center;
      padding-top: 1rem;
    }
  }
}
.btn{
    margin: 2rem 1rem;
}
.inner-content7 {
  margin: 5rem 1rem 0 1rem;
  flex-direction:column;
  padding-bottom: 2rem;
      .text{
        h4{
          padding-bottom:.25rem;
        }
      }
  p{

      margin-left:0;
      width:100%;
  }
}
.ads-carousel {
  margin: 0 auto;
  width: 75%;
 .box {
    img {
      border-radius: 1rem;
    }
  } 
.carousel-button {
  top: 35%;
  }
}
.inner-content10{
  margin: 0rem 1rem 0 1rem;
.header{
  margin:5rem 0rem 1.5rem 0rem;
  h4{
        padding-bottom:.25rem;
  }
 }
  .grid{
      grid-template-columns: repeat(1, 1fr);
      width:100%;
      margin:0 0;
  }
}
.inner-content11{
  display:none;
}
.inner-content12{
  margin: 7rem 1rem 0 1rem;
  .header{
    margin-bottom:1.5rem;
  flex-direction:column;
    h4{
        padding-bottom:.25rem;
  }
  }
.grid{
  grid-template-columns: repeat(1, 1fr);
.box{
form {
.input-wrapper {
  width: 20.25rem;
}
}
}

}
}
.footer {
  padding: 5rem 1.25rem;
  .footer-top {
    flex-direction:column;
    .footer-logo {
      img {
        display:none;
      }
    }
    .footer-links {
      .column {
        padding: 0 .5rem;
      }
   }
  }
    .footer-bottom {
      padding-bottom:1.25rem;
    .footer-meta {
      gap:.75rem; 
    }
    .footer-social {
      gap:1rem;
      img {
        width:1.1rem;
      }
    }
  }
 }
}
}