.container{
    display:flex;
    flex-direction: column;
    img{
        background:none;
        margin:1rem 0 2.5rem 0rem;
        width: 3.5rem;
        border-radius:.5rem;
    }
.inner-content{
        display: flex;
        flex-direction: column;
.text{
    h1{
        text-align: center;
        font-family: ku;
        font-weight: bold;
        font-size:2.25rem;
        padding:0 0 .5rem 0;
        width:38%;
    }
    p{
        text-align: center;
        width:37.5%;
        font-size:1.15rem;
        line-height: 1.65rem;
    }
    b{
        font-weight:bold;
    }

}
input{
    width:27rem;
    padding:.85rem .75rem;
    font-family: arial;
    color:black;
    border:2px solid black;
    border-radius: .2rem;
    font-size: 1.1rem;  
    &:focus {
        outline: none; // Remove default browser outline
        box-shadow: 0 0 1px 1px black; // Change glow to black
        border-color: black; // Optional: Change the border to black as well
        caret-color: black; // Set the caret (blinking cursor) color to black
      }
}
.email{
    margin-top: .75rem;
    padding-left:.6rem;
}
.submit{
    padding:.75rem .75rem;
    margin-top: .5rem;
    margin-bottom:.65rem;
    background-color: #000;
    color:white;
    &:hover{
        opacity: .85;
        cursor: pointer; 
    }
}  
  }
}
@media screen and (max-width: 655px) {
    .container{
    .inner-content{
        .text{
            h1{
                font-size:1.75rem;
                width:70%;
            }
            p{
                font-size:1rem;
                line-height:1.5rem;
                width:75%;
            }
        }
        input{
            width:22rem;
        }
    }
 }
}