.container{
    display:flex;
    flex-direction: column;
    padding-bottom:8rem;
    img{
        background:none;
        margin:1rem 0 5rem 0rem;
        width: 4rem;
        border-radius:.5rem;
        border: .175rem solid #000;
    }
    form{
        margin-top: .5rem;
    }
.inner-content{
        display: flex;
        flex-direction: column;
.text{
    h1{
        padding-bottom:3rem;
        text-align: center;
        font-family: ku;
        font-size: 3rem;
        line-height:3.5rem;
        width:47.5%;
    }
    p{
        text-align: center;
        width:42.5%;
        font-size:1.15rem;
        line-height: 1.65rem;
        b{
            font-family:bold;
        }
    }
}
input{
    width:23rem;
    padding:.85rem .75rem;
    font-family: arial;
    color:black;
    border:2px solid black;
    border-radius: .2rem;
    font-size: 1.1rem;  
    &:focus {
        outline: none; // Remove default browser outline
        box-shadow: 0 0 1px 1px black; // Change glow to black
        border-color: black; // Optional: Change the border to black as well
        caret-color: black; // Set the caret (blinking cursor) color to black
      }
}
.email{
    margin-top: .2rem;
    padding-left:.6rem;
}
.submit{
    padding:.75rem .75rem;
    margin-top: .5rem;
    margin-bottom:.65rem;
    background-color: #000;
    color:white;
    &:hover{
        opacity: .85;
        cursor: pointer; 
    }
}  
  }
}
@media screen and (min-width: 1074px) and (max-width:1124px) {
    .container{
    .inner-content{
        .text{
            h1{
                width:50%;
            }
            p{
                width:47.5%;
            }
        }
    }
 }
}
@media screen and (min-width: 901px) and (max-width:1073px) {
    .container{
    .inner-content{
        .text{
            h1{
                width:52.5%;
            }
            p{
                width:51%;
            }
        }
    }
 }
}
@media screen and (min-width: 615px) and (max-width:900px) {
    .container{
    .inner-content{
        .text{
            h1{
                width:50%;
                font-size: 2.5rem;
                line-height:3rem;
            }
            p{
                width:47.5%;
            }
        }
    }
 }
}
@media screen and (min-width: 530px) and (max-width:614px) {
    .container{
    .inner-content{
        .text{
            h1{
                width:70%;
                font-size: 2.5rem;
                line-height:3rem;
            }
            p{
                width:70%;
            }
        }
        input{
            width:18.85rem;
        }
    }
 }
}
@media screen and (min-width: 464px) and (max-width:529px) {
    .container{
    .inner-content{
        .text{
            h1{
                width:85%;
                font-size: 2.5rem;
                line-height:3rem;
            }
            p{
                width:80%;
            }
        }
        input{
            width:18.85rem;
        }
    }
 }
}
@media screen and (min-width: 431px) and (max-width:463px) {
    .container{
    .inner-content{
        .text{
            h1{
                width:60%;
                font-size: 1.5rem;
                line-height:1.75rem;
            }
            p{
                font-size:1.1rem;
                line-height:1.25rem;
                width:87.5%;
            }
        }
        input{
            width:18.85rem;
        }
    }
 }
}
@media screen and (min-width: 372px) and (max-width:430px) {
    .container{
    .inner-content{
        .text{
            h1{
                width:70%;
                font-size: 1.5rem;
                line-height:1.75rem;
            }
            p{
                font-size:1.1rem;
                line-height:1.25rem;
                width:90%;
            }
        }
        input{
            width:18.85rem;
        }
    }
 }
}
@media screen and (max-width: 371px) {
    .container{
    .inner-content{
        .text{
            h1{
                width:70%;
                font-size: 1.5rem;
                line-height:1.75rem;
            }
            p{
                font-size:1rem;
                line-height:1.15rem;
                width:92.5%;
            }
        }
        input{
            width:18.85rem;
        }
    }
 }
}