.subscribe-container{
    display:flex;
    flex-direction: column;
    b{
        font-family:'bold';
    }
    .logo{
        background:none;
        margin:1.25rem 0 1.25rem 5rem;
        width: 3.5rem;
        img{
        border-radius: 10rem;
        }
    }
    h1, h2, h3, span{
        font-style: normal;
        text-align: left;
        font-family: ku;
        font-size:4.5rem;
    }
    h2 {
        font-size:4.5rem;
        font-family: kl;
    }
    h2 span{
      font-size:4.5rem;
      font-family: ku;
    }
    h3 {
        font-size:2.75rem;
    }
    h4{
      font-family: kl;
      font-size:1.35rem;
      color:$darkred;
      }
    p, .text{
        font-family:kl;
        font-size:1.35rem;
    }
    a{
      font-family: kl;
    }
.content{
  display:flex;
  flex-direction:row;
  margin-left:0;
.inner-content{
      display: flex;
      flex-direction: column;
      margin-top:5rem;
      margin-left:5rem;

.text{
    margin-left:0;
    h1{
    }
}
form {
  display: flex;
  flex-direction: column;
  margin-left: 0;
altcha-widget {
  position: relative;
  margin-left:0;
  margin-top:.1rem;
  max-width: 200px;
  --altcha-max-width: 200px;
  --altcha-border-radius: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  font-family: kl;
}
.input-wrapper {
  position: relative;
  width: 29.5rem;
}
input.email {
  margin-top:.2rem;
  width: 100%;
  padding: 0.85rem 6rem 0.85rem 0.75rem;
  font-family: Arial, sans-serif;
  color: #000;
  border: .15rem solid #02090A;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  box-sizing: border-box;

  &:focus {
    outline: none;
    box-shadow: 0 0 1px 1px #02090A;
    border-color: #02090A;
    caret-color: #02090A;
  }
}

button.submit {
    margin-top:.3rem;
    padding: 1rem 1.75rem;
    background-color: #02090A;
    color: #fafafa;
    border: none;
    border-radius: .5rem;
    font-size: 1rem;
    font-family: bold;
  &:hover {
    opacity: .85;
    cursor: pointer;
  }
}
}
  }
.inner-content1{
    img{
      margin-left:6rem;
      width: 50%;
    }
  }
}
.inner-content2{
  background:#02090A;
  border-top-left-radius:2rem;
  border-top-right-radius:2rem;
  padding:0 5rem;
  padding-bottom: 5rem;
  h2, h2 span{
      padding-top:6rem;
      margin-left:0;
      color:#fafafa;
    }
  h2 span{
    font-size:4.5rem;
  }
p, .text {
  width:95%;
  padding-top: 1.5rem;
  font-size: 3rem;
  margin-left: 0;
  color: #7a7a7a; //fb
  background:#7a7a7a;
  transition: all 0.5s ease-in-out;
  background-image: linear-gradient(90deg, #ff6600, #ff0044);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-position: left;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  &:hover {
      background-size: 100% 100%;
      -webkit-text-fill-color: transparent;
      animation: shimmer 1.5s linear infinite;
  }
}
p span{
  font-size:3.5rem;
}
@keyframes shimmer {
  0% {
      background-position: -100% 0;
  }
  100% {
      background-position: 200% 0;
  }
}
}
}
@media (min-width: 875px) and (max-width: 1264px) {
.subscribe-container{
  h3{
      font-size:2.75rem;
  }
  .logo{
    margin-left:2.5rem;
  }
.content{
.inner-content{
        margin-left:2.5rem;
    .text{
      h1, span{
        font-size:3.5rem;
      }
      p{
        padding-top:2.5rem;
        padding-bottom:.5rem;
      }
    }
form {
.input-wrapper {
  width: 30rem;
  }
    }
  }
  .inner-content1{
    width: 100%;
    margin-left: 2.5rem;
  }
}
.inner-content2{
  margin: 0 auto;
  padding:0 2.5rem;
  padding-bottom:5rem;
  border-top-left-radius:1.5rem;
  border-top-right-radius:1.5rem;
  h2, h2 span{
    padding-top:3.5rem;
    font-size:3.5rem;
    }
    h2 span{
      font-size:4rem;
    }
  p {
    margin-bottom: 3.5rem;
    padding-top: 1rem;
    width:100%;
  }
}
}
}
@media (min-width: 660px) and (max-width: 874px) {
.subscribe-container{
  h3{
      font-size:2.75rem;
  }
  .logo{
    margin-left:2.5rem;
  }
.content{
  flex-direction: column;
.inner-content{
        margin-left:2.5rem;
    .text{
      h1{
        font-size:3.5rem;
      }
      p{
        padding-top:2.5rem;
        padding-bottom:.5rem;
      }
    }
form {
.input-wrapper {
  width: 30rem;
  }
    }
  }
 .inner-content1{
  margin-top: 2.5rem;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom:0;
  }
 }
}
.inner-content2{
  padding:0 2.5rem;
  border-top-left-radius:1.5rem;
  border-top-right-radius:1.5rem;
  padding-bottom:3rem;
  h2{
    padding-top:3.5rem;
    font-size:3rem;
    width:100%;
    }
    h2 span{
      font-size:3.5rem;
    }
  p, .text{
    margin-bottom: 3.5rem;
    padding-top: 1rem;
    font-size:2.25rem;
    width:100%;
  }
    p span, .text span{
    font-size:2.5rem;
  }
}
}
}
@media (max-width: 659px) {
.subscribe-container{
  h3{
      font-size:2.25rem;
  }
  h4{
    font-size:1.15rem;
  }
  .logo{
    margin-left:1rem;
  }
.content{
  flex-direction: column;
.inner-content{
        margin-left:1rem;
        margin-top: 1rem;
    .text{
      h1{
        font-size:3rem;
        width:190%;
      }
      p{
        padding-top:1.5rem;
        padding-bottom:.5rem;
        width:87.5%;
      }
    }
form {
.input-wrapper {
  width: 22rem;
  }
    }
  }
.inner-content1 {
  margin-top: 2.5rem;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-bottom:0;
  }
}
}
.inner-content2{
  margin-left:0;
  margin-right:0;
  padding:0 2rem;
  padding-bottom:4rem;
  border-top-left-radius:1.5rem;
  border-top-right-radius:1.5rem;
  h2, h2 span{
    padding-top:3.5rem;
    font-size:2.25rem;
    }
    h2 span{
      font-size:2.5rem;
    }
  p, .text{
    margin-bottom: 3.5rem;
    padding-top: 1rem;
    font-size:1.75rem;
    width:100%;
  }
  p span, .text span{
    font-size:2rem;
  }
}
}
}