.subscribe-container{
    display:flex;
    flex-direction: column;
    b{
        font-family:'bold';
    }
    h1, h2, h3, span{
        font-style: normal;
        text-align: left;
        font-family: ku;
        font-size:4.5rem;
    }
    h2 {
        font-size:4.5rem;
        font-family: kl;
    }
    h2 span{
      font-size:4.5rem;
      font-family: ku;
    }
    h3 {
        font-size:2.75rem;
    }
    h4{
      font-family: kl;
      font-size:1.35rem;
      color:$darkred;
      }
    p, .text{
        font-family:kl;
        font-size:1.35rem;
    }
    a{
      font-family: kl;
    }
.content{
.inner-content{
    margin-top: .5rem;
    img{
      width:35%;
    }
    .box{
      border:2px solid #02090a;
      border-bottom: none;
      background:#02090A;
      border-top-left-radius:2rem;
      border-top-right-radius:2rem;
      padding:2rem 10rem;
    h1{
      text-align: center;
      margin-top:1rem;
      font-size:3rem;
      color:#7a7a7a;
    }
    p{
        text-align: center;
        padding-bottom:.5rem;
        color:#fafafa;
    }
  form {
  margin-top:.45rem;
  .input-wrapper {
    position: relative;
  }
  input.email {
    width: 100%;
    color: #000;
    border: .15rem solid #02090A;
    border-radius: 5rem;
    font-size: 1.1rem;
    box-sizing: border-box;
    padding:1.25rem;
    &:focus {
      outline: none;
      box-shadow: 0 0 1px 1px #02090A;
      border-color: #02090A;
      caret-color: #02090A;
    }
  }
  altcha-widget {
      color:#fafafa;
  }
  button.submit {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding: 0 2rem;
    margin: .35rem; 
    background-color: #02090A;
    color: #fafafa;
    border: none;
    border-radius: 5rem;
    font-size: 1rem;

    &:hover {
      opacity: .85;
      cursor: pointer;
    }
  }
}
    }
  }
}
.inner-content2{
  background:#02090A;
  border-top-left-radius:2rem;
  border-top-right-radius:2rem;
  padding:0 5rem;
  padding-bottom:10rem;
  h2, h2 span{
      padding-top:6rem;
      margin-left:0;
      color:#fafafa;
    }
  h2 span{
    font-size:5rem;
  }
p, .text {
  width:95%;
  padding-top: 1.5rem;
  font-size: 3rem;
  margin-left: 0;
  color: #7a7a7a; //fb
  background:#7a7a7a;
  transition: all 0.5s ease-in-out;
  background-image: linear-gradient(90deg, #ff6600, #ff0044);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-position: left;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  &:hover {
      background-size: 100% 100%;
      -webkit-text-fill-color: transparent;
      animation: shimmer 1.5s linear infinite;
  }
}
p span, .text span{
  font-size:3.5rem;
}
@keyframes shimmer {
  0% {
      background-position: -100% 0;
  }
  100% {
      background-position: 200% 0;
  }
}
}
}
@media (min-width: 875px) and (max-width: 1264px) {
.subscribe-container{
  h3{
      font-size:2.75rem;
  }
.inner-content2{
  margin: 0 auto;
  padding:0 2.5rem;
  padding-bottom:5rem;
  border-top-left-radius:1.5rem;
  border-top-right-radius:1.5rem;
  h2, h2 span{
    padding-top:3.5rem;
    font-size:3.5rem;
    }
    h2 span{
      font-size:4rem;
    }
  p {
    margin-bottom: 3.5rem;
    padding-top: 1rem;
    width:100%;
  }
}
}
}
@media (min-width: 660px) and (max-width: 874px) {
.subscribe-container{
  h3{
      font-size:2.75rem;
  }
.content{
.inner-content{
    img{
      width:65%;
    }
    .box{
      padding:2rem 0;
    h1{
      font-size:2rem;
    }
    p{
        font-size:1rem;
    }
  form {
  .input-wrapper, .input-wrapper1 {
    width: 25rem;
  }
}
    }
  }
}
.inner-content2{
  padding:0 2.5rem;
  border-top-left-radius:1.5rem;
  border-top-right-radius:1.5rem;
  padding-bottom:3rem;
  margin-top:0;
  h2{ 
    padding-top:3.5rem;
    font-size:3rem;
    width:100%;
    }
    h2 span{
      font-size:3.5rem;
    }
  p, .text{
    margin-bottom: 3.5rem;
    padding-top: 1rem;
    font-size:2.25rem;
    width:100%;
  }
    p span, .text span{
    font-size:2.5rem;
  }
}
}
}
@media (max-width: 659px) {
.subscribe-container{
  h3{
      font-size:2.25rem;
  }
  h4{
    font-size:1.15rem;
  }
.content{
.inner-content{
    margin-bottom: -1rem;
    img{
      width:65%;
    }
    .box{
      padding:2rem 0;
      width:91%;
    h1{
      margin-top:0;
      font-size:1.75rem;
    }
    p{
        font-size:.95rem;
    }
  form {
  .input-wrapper, .input-wrapper1 {
    width: 20rem;
  }
}
    }
  }
}
.inner-content2{
  margin-left:0;
  margin-right:0;
  margin-bottom:5rem;
  margin-top:0;
  padding:0 2rem;
  padding-bottom:4rem;
  border-top-left-radius:1.5rem;
  border-top-right-radius:1.5rem;
  h2, h2 span{
    padding-top:3.5rem;
    font-size:2.25rem;
    }
    h2 span{
      font-size:2.5rem;
    }
  p, .text{
    margin-bottom: 3.5rem;
    padding-top: 1rem;
    font-size:1.75rem;
    width:100%;
  }
  p span, .text span{
    font-size:2rem;
  }
}
}
}