.content-awu{
    display:flex;
    flex-direction: column;
    align-items: center;
    b{
        font-family:'bold';
    }
    .logo{
        background:none;
        margin:1.25rem 0 0 0;
        width: 3.5rem;
        img{
        border-radius: 10rem;
        }
    }
    h1, h2, h3, span{
        text-align: left;
        font-family: ku;
        font-size:3.75rem;
    }
    h2 {
        font-size:3.75rem;
        font-family: kl;
    }
    h3 {
        font-size:2.75rem;
    }
    h4{
      font-family: kl;
      font-size:1.4rem;
      }
    p{
        font-family:kl;
        font-size:1.2rem;
    }
   a{
      font-family: kl;
    }
.content-awu2 { 
      display:flex;
      flex-direction:column;
      margin:3.5rem 5rem 2.5rem 5rem;
      h1{
        padding-bottom: 4rem;
      }
      .text{
        margin: 0;
        h4{
          padding-bottom:.6rem;
          color:$darkred;
        }
      }

}
.ads-carousel-txt{
  display:flex;
  flex-direction: row;

  .adsbox{
      margin-top:0;
      margin-right:0;
      width:35%;
      
      ul{
        padding-top:2rem;
        padding-left:1.75rem;
        li{
          padding-bottom:2.25rem;
        }
      }
  .btn { 
    display: flex;
    margin-top:0rem;
    .pricebtn {
    border-radius: 5rem;
    padding: 1rem 1.75rem;
    border: 0.15rem solid #000;
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
    background: transparent;
    cursor: pointer;
    font-family:bold;

    &:hover {
      background-color: #fafafa;
      color: #000;
    }
  }
}
}
  .ads-carousel {
  position: relative;
  width: 35%;
  overflow: hidden;
  margin-left:4rem;
  margin-top:-7.5rem;
  .carousel-track {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%; // 3 slides
    padding-left:.2rem;
  }
  .carousel-slide {
    flex: 0 0 100%;
    box-sizing: border-box;
  }
  .box {
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius:.25rem;
    img {
      width: 60%;
      border-radius: 2.5rem;
    }
    h1 {
      text-align: center;
      font-size: 1.25rem;
      padding-top: 2rem;
      padding-bottom: 0.75rem;
      margin: 0 auto;
      font-family: bold;
    }
    p {
      text-align: center;
      color: #7a7a7a;
      margin: 0;
      flex-grow: 1;
    }
  }
  .carousel-button {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background:none;
  border: none;
  cursor: pointer;
  color: #000;
  font-size: 2rem;
  z-index: 2;
    &.prev {
      left: 0.5rem;
    }
    &.next {
      right: 0.5rem;
    }
  }
}
}
.inner-content2555{
  background:#02090A;
  border-radius:2rem;
  padding:0 5rem;
  margin-left:5rem;
  margin-right:5rem;
  width: auto;
  text-align: center;
  h2, h2 span{
      text-align: center;
      padding-top:3.5rem;
      margin:0 auto;
      color:#fafafa;
    }
p {
  text-align: center;
  padding-top: 1.5rem;
  font-size: 3rem;
  margin: 0 auto;
  margin-bottom:4rem;
  color: #7a7a7a; //fb
  background:#7a7a7a;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(90deg, #ff6600, #ff0044);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-position: left;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  &:hover {
      background-size: 100% 100%;
      -webkit-text-fill-color: transparent;
      animation: shimmer 1.5s linear infinite;
  }
}
.btn { 
  display: flex;
  margin:0 auto 6rem auto;
  .pricebtn {
    border-radius: 5rem;
    padding: 1rem 1.75rem;
    border: 0.2rem solid #fafafa;
    color: #fafafa;
    text-decoration: none;
    font-size: 1.2rem;
    background: transparent;
    cursor: pointer;
    font-family:bold;
    &:hover {
      background-color: #3a3a3a;
      color: #fafafa;
    }
  }
}
@keyframes shimmer {
  0% {
      background-position: -100% 0;
  }
  100% {
      background-position: 200% 0;
  }
}
}
.inner-content2555{
  margin-top:10rem;
  margin-left:5rem;
  margin-right:5rem;
  border-radius:2rem;
  padding:8rem 8rem;
  width:auto;
  p{
    text-align: left;
    font-family: ku;
    background-color:#fafafa;
    font-size: 4rem;
    margin-bottom: 0; 
  }
  .tag{
    padding-top:2rem;
    p{
      text-align: left;
      font-size:1.25rem;
      padding:0;
      margin-bottom: 0; 
      background-image: none;
      user-select: none;
      pointer-events: none;
      font-family: kl;
    }
    p:nth-child(2){
      font-family: ku;
      padding-top: .5rem;
      background-color:#7a7a7a;
    }
  }
}
.inner-content3sm{
  margin-top:14rem;
  .grid{
  margin-left:5rem;
  margin-right:5rem;
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: auto;
  .box {
    display: flex;
    flex-direction: column;
    background: transparent;
    text-align: left;
    height: 100%;
    width: 100%;
    background:#000;
    padding:2rem 1rem 2rem 1rem;
    border-radius: 2rem;
    h1 {
      padding-top: 1rem;
      padding-bottom: 0.75rem;
      font-family: ku;
      color:#7a7a7a;
      text-align: center;
    }
    p, a {
      padding-bottom: 0rem;
      color: #fafafa;
      flex-grow: 1;
      text-align: center;
      font-size:2.5rem;
      width:100%;
    }
    a{
      margin-top: 1.5rem;
      margin-bottom:1.5rem;
      font-size:1.5rem;
      color: #a0a0a0;
      background:#a0a0a0;
      transition: all .2s ease-in-out;
      background-image: linear-gradient(90deg, #ff8738, #ff0044);
      background-size: 0% 100%;
      background-repeat: no-repeat;
      background-position: left;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  cursor: pointer;
  &:hover {
      background-size: 100% 100%;
      -webkit-text-fill-color: transparent;
      animation: shimmer 1.5s linear infinite;
  }

    }
  }
}
}
}

@media (min-width: 875px) and (max-width: 1100px) {
.content-awu{
.content-awu2 {
  flex-direction:column;
  padding-bottom: 2rem;
  p{
      margin-left:0;
      width:100%;
  }
}
.ads-carousel {
  margin: 0 auto;
  width: 25%;
 .box {
    img {
      width:60%;
      border-radius: 1rem;
    }
  } 
.carousel-button {
  top: 40%;
  }
}
}
}
@media (min-width: 660px) and (max-width: 874px) {
.content-awu{
.content-awu2 {
      display: flex;
    align-items: center;
    flex-direction: column;
  margin-bottom: 2rem;
  p{
  margin-left: auto;
  margin-right: auto;
    width:100%;
  }
}
.ads-carousel-txt{
      display: flex;
    align-items: center;
    flex-direction: column;
  .adsbox{
    flex-direction: column;
      margin-left:0rem;
      width:60%;
      ul{
        padding-top:2rem;
        padding-left:1.75rem;
        li{
          padding-bottom:2.25rem;
        }
      }
  .btn { 
    display: flex;
    margin-top:0rem;
}
}
  .ads-carousel {
    display: none;
}
}
.inner-content2555{
  margin-top:4rem;
  margin-left:1.5rem;
  margin-right:1.5rem;
  padding:4rem 2rem;
  p{
    font-size: 2rem;
  }
  .tag{
    p{
      font-size:1rem;
    }
    p:nth-child(2){
      padding-top: .35rem;
    }
  }
}
.inner-content3sm{
  margin-top:12rem;
  margin-bottom:8rem;
.grid{
  margin:1.25rem;
  grid-template-columns: repeat(1, 1fr);
  .box{
  p {
      width:92.5%;
    }
}
}
}
}
}

@media (max-width: 659px) {
.content-awu{
   h3{
      font-size:1.5rem;
  }
  h4{
      font-size:1rem;
    }
.content-awu2 {
    display: flex;
    flex-direction: column;
      margin: 3.25rem 1.25rem 0 1.25rem;
      h1{
        font-size:2rem;
        text-align: center;
      }
      .text{
        display:flex;
        flex-direction:column;
        
        h3, h4 {
          text-align: left;
          margin:0;
        }
      }
  p{
    display:none; 
  }
}
.ads-carousel-txt{
      display: flex;
    align-items: center;
    flex-direction: column;
    p{
      text-align: left;
    }
  .adsbox{
    flex-direction: column;
      margin-left:0rem;
      width:90%;
      ul{
        padding-top:2rem;
        padding-left:1.75rem;
        li{
          padding-bottom:2.25rem;
        }
      }
  .btn { 
    display: flex;
    margin-top:1rem;
}
}
  .ads-carousel {
    display: none;
}
}
.inner-content2555{
  margin-top:5rem;
  margin-left:1.5rem;
  margin-right:1.5rem;
  padding:4rem 2rem;
  p{
    font-size: 2rem;
  }
  .tag{
    p{
      font-size:1rem;
    }
    p:nth-child(2){
      padding-top: .35rem;
    }
  }
}
.inner-content3sm{
  margin-top:7rem;
  margin-bottom:6rem;
  padding:0 2rem;
.grid{
  grid-template-columns: repeat(1, 1fr);
  margin-left: 0;
  margin-right: 0;
.box{
  h1{
    font-size: 2.25rem;
  }
   p {
      width:92.5%;
      font-size: 1.75rem; 
    }
}
}
}
}
}