.ads-container{
    display:flex;
    flex-direction: column;
    b{
        font-family:'bold';
    }
    .logo{
        background:none;
        margin:1.25rem 0 1.25rem 5rem;
        width: 3.5rem;
        img{
        border-radius: 10rem;
        }
    }
    h1, h2, h3, span{
        font-style: normal;
        text-align: left;
        font-family: ku;
        font-size:4.5rem;
    }
    h2 {
        font-size:4.5rem;
        font-family: kl;
    }
    h2 span{
      font-size:4.5rem;
      font-family: ku;
    }
    h3 {
        font-size:2.75rem;
    }
    h4{
      font-family: kl;
      font-size:1.35rem;
      color:$darkred;
      }
    p{
        font-family:kl;
        font-size:1.35rem;
    }
    a{
      font-family: kl;
    }
.content{
.inner-content{
    margin-top: .5rem;
    img{
      width:25%;
    }
    .box{
      border:2px solid #02090a;
      border-bottom: none;
      background:#02090A;
      border-top-left-radius:2rem;
      border-top-right-radius:2rem;
      padding:2rem 5rem;
    h1{
      text-align: center;
      margin-top:1rem;
      font-size:2.5rem;
      color:#7a7a7a;
    }
    p{
        text-align: center;
        padding-bottom:.5rem;
        color:#fafafa;
    }
  form {
  margin-top:.45rem;
  .input-wrapper, .input-wrapper1 {
    position: relative;
    width:32.50rem;
  }
  input.email {
    width: 100%;
    color: #000;
    border: .15rem solid #02090A;
    border-radius: 5rem;
    font-size: 1.1rem;
    box-sizing: border-box;
    padding:1.25rem;
    &:focus {
      outline: none;
      box-shadow: 0 0 1px 1px #02090A;
      border-color: #02090A;
      caret-color: #02090A;
    }
  }
  altcha-widget {
      color:#fafafa;
  }
  button.submit {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding: 0 2rem;
    margin: .35rem; 
    background-color: #02090A;
    color: #fafafa;
    border: none;
    border-radius: 5rem;
    font-size: 1rem;

    &:hover {
      opacity: .85;
      cursor: pointer;
    }
  }
}
    }
  }
}
.inner-content2{
  background:#02090A;
  border-top-left-radius:2rem;
  border-top-right-radius:2rem;
  padding:0 5rem;
  padding-bottom:10rem;
  h2, h2 span{
      padding-top:6rem;
      margin-left:0;
      color:#fafafa;
    }
  h2 span{
    font-size:4.5rem;
  }
p, .text{
  width:95%;
  padding-top: 1.5rem;
  font-size: 3rem;
  margin-left: 0;
  color: #7a7a7a; //fb
  background:#7a7a7a;
  transition: all 0.5s ease-in-out;
  background-image: linear-gradient(90deg, #ff6600, #ff0044);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-position: left;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  &:hover {
      background-size: 100% 100%;
      -webkit-text-fill-color: transparent;
      animation: shimmer 1.5s linear infinite;
  }
}
p span, .text span{
  font-size:3.5rem;
}
@keyframes shimmer {
  0% {
      background-position: -100% 0;
  }
  100% {
      background-position: 200% 0;
  }
}
}
.floatimg,
.floatimg2{
  margin-top: 8rem;
  img{
    margin: 0 auto;
    width: 55%;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
  }
}
.inner-content25{
  background:#02090A;
  border-radius:2rem;
  padding:0 5rem;
  margin-left:5rem;
  margin-right:5rem;
  width: auto;
  text-align: left;
  h2, h2 span{
      text-align: center;
      padding-top:3.5rem;
      margin:0 auto;
      color:#fafafa;
    }
p, .text{
  text-align: left;
  padding-top: 1.5rem;
  font-size: 3rem;
  margin: 0 auto;
  margin-bottom:4rem;
  color: #7a7a7a; //fb
  background:#7a7a7a;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(90deg, #ff6600, #ff0044);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-position: left;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  &:hover {
      background-size: 100% 100%;
      -webkit-text-fill-color: transparent;
      animation: shimmer 1.5s linear infinite;
  }
}
.btn { 
  display: flex;
  margin:0 auto 6rem auto;
  .pricebtn {
    border-radius: 5rem;
    padding: 1rem 1.75rem;
    border: 0.2rem solid #fafafa;
    color: #fafafa;
    text-decoration: none;
    font-size: 1.2rem;
    background: transparent;
    cursor: pointer;
    font-family:bold;
    &:hover {
      background-color: #3a3a3a;
      color: #fafafa;
    }
  }
}
@keyframes shimmer {
  0% {
      background-position: -100% 0;
  }
  100% {
      background-position: 200% 0;
  }
}
}
.inner-content25{
  margin-top:14rem;
  margin-left:5rem;
  margin-right:5rem;
  border-radius:2rem;
  padding:8rem 8rem;
  width:auto;
  p, .text{
    text-align: left;
    font-family: ku;
    background-color:#fafafa;
    font-size: 4rem;
    margin-bottom: 0; 
  }
  .tag{
    padding-top:2rem;
    p{
      text-align: left;
      font-size:1.25rem;
      padding:0;
      margin-bottom: 0; 
      background-image: none;
      user-select: none;
      pointer-events: none;
      font-family: kl;
    }
    p:nth-child(2){
      font-family: ku;
      padding-top: .5rem;
      background-color:#7a7a7a;
    }
  }
}
.inner-content3{
  margin:14rem auto 0 auto;
.grid{
  margin-left:5rem;
  margin-right:5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: auto;
  .box {
    display: flex;
    flex-direction: column;
    background: transparent;
    text-align: left;
    height: 100%;
    width: 100%;
    background:#000;
    padding:2rem 1rem 2rem 1rem;
    border-radius: 1.5rem;
    h1 {
      padding-top: 1rem;
      padding-bottom: 0.75rem;
      font-family: ku;
      color:#fafafa;
      text-align: center;
    }
    p, a {
      color: #7a7a7a;
      flex-grow: 1;
      text-align: center;
      font-size:2.5rem;
      width:100%;
      padding-bottom: 2rem;
    }
    a{
      margin-top: 1.5rem;
      margin-bottom:1.5rem;
      font-size:1.5rem;
      color: #a0a0a0;
      background:#a0a0a0;
      transition: all .2s ease-in-out;
      background-image: linear-gradient(90deg, #ff8738, #ff0044);
      background-size: 0% 100%;
      background-repeat: no-repeat;
      background-position: left;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  cursor: pointer;
  &:hover {
      background-size: 100% 100%;
      -webkit-text-fill-color: transparent;
      animation: shimmer 1.5s linear infinite;
  }

    }
@keyframes shimmer {
  0% {
      background-position: -100% 0;
  }
  100% {
      background-position: 200% 0;
  }
}
  }
}
}
.inner-content3sm,
.inner-content3smm{
  .boxmat{
    width:100%;
    height:100%;
  }
  .grid{
  margin-left:5rem;
  margin-right:5rem;
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  .box {
    display: flex;
    flex-direction: column;
    background: transparent;
    text-align: left;
    width: 100%;
    background:#000;
    padding:2rem 1rem 2rem 1rem;
    border-radius: 1.5rem;
    h1 {
      padding-top: 1rem;
      padding-bottom: 0.75rem;
      font-family: ku;
      color:#7a7a7a;
      text-align: center;
    }
    p{
      padding-bottom: 0rem;
      color: #fafafa;
      flex-grow: 1;
      text-align: center;
      font-size:2.5rem;
      width:100%;
    }
.btn { 
  display: flex;
  margin:3rem auto 3rem auto;
  color:#fafafa;
  .pricebtn {
    border-radius: 5rem;
    padding: 1rem 1.75rem;
    border: 0.2rem solid #fafafa;
    color: #fafafa;
    text-decoration: none;
    font-size: 1.2rem;
    background: transparent;
    cursor: pointer;
    font-family:bold;
    &:hover {
      background-color: #3a3a3a;
      color: #fafafa;
    }
  }
}
  }
}
}
.floatimg2{
  width: 50%;
}
.inner-content3smm{
  .grid{
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  width: auto;
  }
}
.ad-form{
  margin-left:5rem;
  margin-right:5rem;
  margin-top:14rem;
  width: auto;
  .inner-form{
    display: flex;
    flex-direction: column;
    background: transparent;
    text-align: left;
    height: 100%;
    width: 100%;
    background:#000;
    padding:4rem 4rem 4rem 4rem;
    border-radius: 1.5rem;
.text{
    h1{
        margin-left:0;
        color:#fafafa;
    }
    p{
        text-align: left;
        padding:2rem 0rem .5rem 0;
        margin-left:0;
        color:#fafafa;
    }
}
.inner-content{
  display: flex;
  form {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top:.45rem;
.input-wrapper {
  position: relative;
  width: 34rem;
}
input.email {
  width: 100%;
  color: #000;
  border: .15rem solid #02090A;
  border-radius: 5rem;
  font-size: 1.1rem;
  box-sizing: border-box;
  padding:1.25rem;
  &:focus {
    outline: none;
    box-shadow: 0 0 1px 1px #02090A;
    border-color: #02090A;
    caret-color: #02090A;
  }
}
.mb{
  margin-bottom:.35rem;
}
altcha-widget {
  color:#fafafa;
}
button.submit {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  padding: 0 2rem;
  margin: .35rem;
  background-color: #02090A;
  color: #fafafa;
  border: none;
  border-radius: 5rem;
  font-size: 1rem;

  &:hover {
    opacity: .85;
    cursor: pointer;
  }
}
}
    img{
      margin-top: 0rem;
      margin-left:2rem;
      width: 20%;
    }
}

  }

}
}
@media (max-width: 1175px){
.ad-form{
.inner-form{
.inner-content{
    img{
      display:none;
    }
}
}
}
}
@media (min-width: 875px) and (max-width: 1264px) {
.ads-container{
  h3{
      font-size:2.75rem;
  }
  .logo{
    margin-left:2.5rem;
  }
.content{
.inner-content{
        margin-left:2.5rem;
    .text{
      h1, span{
        font-size:3.5rem;
        width:100%;
      }
      p{
        padding-top:2.5rem;
        padding-bottom:.5rem;
      }
    }
  }
  .inner-content1{
    width: 40%;
    margin-left: 15rem;
    margin-bottom:0rem;
  }
}
.inner-content2{
  margin: 0 auto;
  padding:0 2.5rem;
  border-top-left-radius:1.5rem;
  border-top-right-radius:1.5rem;
  padding-bottom:5rem;
  h2, h2 span{
    padding-top:3.5rem;
    font-size:3.5rem;
    }
    h2 span{
      font-size:4rem;
    }
  p, .text {
    margin-bottom: 3.5rem;
    padding-top: 1rem;
    width:100%;
  }
}
.floatimg{
  img{
    width: 65%;
  }
}
.floatimg2{
  display: flex;
  justify-content: center;
  margin-top:8rem;
  img{
    width: 65%;
  }
}
}
}
@media (min-width: 660px) and (max-width: 874px) {
.ads-container{
  h3{
      font-size:2.75rem;
  }
.content{
.inner-content{
    img{
      width:65%;
    }
    .box{
      padding:2rem 0;
    h1{
      font-size:2rem;
    }
    p{
        font-size:1rem;
    }
  form {
  .input-wrapper, .input-wrapper1 {
    width: 25rem;
  }
}
    }
  }
}
.inner-content2{
  padding:0 2.5rem;
  border-top-left-radius:1.5rem;
  border-top-right-radius:1.5rem;
  padding-bottom: 3rem;
  h2{
    padding-top:3.5rem;
    font-size:3rem;
    width:100%;
    }
    h2 span{
      font-size:3.5rem;
    }
  p, .text {
    margin-bottom: 3.5rem;
    padding-top: 1rem;
    font-size:2.25rem;
    width:100%;
  }
    p span{
    font-size:2.5rem;
  }
}
.floatimg{
  img{
    width: 65%;
  }
}
.floatimg2{
  display: flex;
  justify-content: center;
  margin-top:8rem;
  img{
    width: 130%;
  }
}
.inner-content25{
  margin-top:8rem;
  margin-bottom:6rem;
  margin-left:1.5rem;
  margin-right:1.5rem;
  padding:4rem 2rem;
  p, .text{
    font-size: 2rem;
  }
  .tag{
    p{
      font-size:1rem;
    }
    p:nth-child(2){
      padding-top: .35rem;
    }
  }
}
.inner-content3,
.inner-content3sm,
.inner-content3smm{
  margin-top:0rem;
  margin-bottom:-2rem;
  margin-left: .25rem;
  margin-right: .25rem;
.grid{
  margin:1.25rem;
  grid-template-columns: repeat(1, 1fr);
  .box{
  p, .text {
      width:92.5%;
    }
}
}
}
.inner-content3{
  margin-top:7rem;
}
.ad-form{
  margin-left:1.5rem;
  margin-right:1.5rem;
  margin-top: 0;
  margin-bottom: 4rem;
  .inner-form{
    padding:2rem 1.5rem 2rem 1.5rem;
.text{
    h1{
        font-size: 2rem;
    }
}
.inner-content{
  form {
.input-wrapper {
  width: 35rem;
}
}
}
}
}
}
}
@media (max-width: 659px) {
.ads-container{
 h3{
      font-size:2.25rem;
  }
  h4{
    font-size:1.15rem;
  }
.content{
.inner-content{
    margin-bottom: -1rem;
    img{
      width:65%;
    }
    .box{
      padding:2rem 0;
      width:91%;
    h1{
      margin-top:0;
      font-size:1.75rem;
    }
    p{
        font-size:.95rem;
    }
  form {
  .input-wrapper, .input-wrapper1 {
    width: 20rem;
  }
}
    }
  }
}
.inner-content2{
  margin-left:0;
  margin-right:0;
  margin-bottom: 4rem;
  padding:0 2rem;
  padding-bottom:3rem;
  border-top-left-radius:1.5rem;
  border-top-right-radius:1.5rem;
  h2, h2 span{
    padding-top:3.5rem;
    font-size:2.25rem;
    }
    h2 span{
      font-size:2.5rem;
    }
  p, .text {
    margin-bottom: 3.5rem;
    padding-top: 1rem;
    font-size:1.75rem;
    width:100%;
  }
  p span, .text span{
    font-size:2rem;
  }
}
.floatimg{
  margin-top:6rem;
  img{
    width: 74%;
  }
}
.floatimg2{
  display: flex;
  justify-content: center;
  margin-top:2rem;
  img{
    width: 147%;
  }
}
.inner-content25{
  margin-left:1.5rem;
  margin-right:1.5rem;
  padding:0 1rem;
  h2, h2 span{
      padding-top:2.25rem;
      font-size:2.25rem;
    }
p, .text{
  padding-top: 1rem;
  font-size: 1.75rem;
}
}
.inner-content25{
  p, .text{
    margin-bottom:2rem;
  }
    .btn{
        margin-bottom:4rem;
      .pricebtn{
      font-size: 1rem;
      }
    }
}

.inner-content25{
  margin-top:1rem;
  margin-bottom:6rem;
  padding:4rem 2rem;
  p, .text{
    font-size: 2rem;
  }
  .tag{
    p{
      font-size:1rem;
    }
    p:nth-child(2){
      padding-top: .35rem;
    }
  }
}
.inner-content3,
.inner-content3sm,
.inner-content3smm{
  margin:0 0;
  margin-top:1rem;
  margin-bottom:5rem;
  padding:0 1.5rem;
.grid{
  grid-template-columns: repeat(1, 1fr);
  margin-left: 0;
  margin-right: 0;
.box{
  h1{
    font-size: 2.25rem;
  }
   p, .text {
      width:92.5%;
      font-size: 1.75rem; 
    }
  .btn{
    margin-top:2rem;
    margin-bottom:1.5rem;
  }
}
}
}
.inner-content3sm{
  margin-top:-4rem; 
}
.inner-content3smm{
  margin-top:0rem;
}
.ad-form{
  margin-left:1.5rem;
  margin-right:1.5rem;
  margin-top: 0;
  margin-bottom: 4rem;
  .inner-form{
    padding:2rem 1.5rem 2rem 1.5rem;
      margin:0 auto;

.text{
    h1{
        font-size: 2rem;
    }
}
.inner-content{
      margin-left: 0;

  form {
.input-wrapper {
      margin-left: 0;
      width: 17.5rem;
}
}
}
}
}
}
}