/* FONTS */
@font-face {
  font-family: "book";
  src: url("../global/fonts/bal-book.woff2") format("woff2");
}
@font-face {
  font-family: "medium";
  src: url("../global/fonts/bal-medium.woff2") format("woff2");
}
@font-face {
  font-family: "bold";
  src: url("../global/fonts/bal-bold.woff2") format("woff2");
}
@font-face {
  font-family: "arial";
  src: url("../global/fonts/bal-arial.woff2") format("woff2");
}
@font-face {
  font-family: "bw";
  src: url("../global/fonts/BroadwayD.woff2") format("woff2");
}
@font-face {
  font-family: "kl";
  src: url("../global/fonts/Kinetika-Light.woff2") format("woff2");
}
@font-face {
  font-family: "ku";
  src: url("../global/fonts/Kinetika-Ultra.woff2") format("woff2");
}
@font-face {
  font-family: "kui";
  src: url("../global/fonts/kinetika-ultra-italic.woff2") format("woff2");
}
.container {
  display: flex;
  flex-direction: column;
}
.container img {
  background: none;
  margin: 1rem 0 2.5rem 0rem;
  width: 4rem;
  border-radius: 0.5rem;
}
.container .inner-content {
  display: flex;
  flex-direction: column;
}
.container .inner-content .text h1 {
  text-align: center;
  font-family: ku;
  font-size: 4.5rem;
  line-height: 3.75rem;
  text-transform: uppercase;
}
.container .inner-content .text h2 {
  text-align: center;
  font-family: ku;
  font-size: 1.17rem;
  padding: 0 0 1.25rem 0;
  text-transform: uppercase;
}
.container .inner-content .text p, .container .inner-content .text span {
  text-align: center;
  width: 60%;
  font-size: 1.1rem;
  line-height: 1.85rem;
}
.container .inner-content .text u {
  color: #1274e5;
}
.container .inner-content input {
  width: 24.5rem;
  padding: 0.85rem 0.75rem;
  font-family: arial;
  color: black;
  border: 2px solid black;
  border-radius: 0.2rem;
  font-size: 1.1rem;
}
.container .inner-content input:focus {
  outline: none;
  box-shadow: 0 0 1px 1px black;
  border-color: black;
  caret-color: black;
}
.container .inner-content .email {
  margin-top: 0.75rem;
  padding-left: 0.6rem;
}
.container .inner-content .submit {
  padding: 0.75rem 0.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0.65rem;
  background-color: #000;
  color: white;
}
.container .inner-content .submit:hover {
  opacity: 0.85;
  cursor: pointer;
}

@media screen and (min-width: 631px) and (max-width: 700px) {
  .container .inner-content .text h1 {
    font-size: 3.25rem;
    line-height: 3rem;
    padding-bottom: 0.15rem;
  }
  .container .inner-content .text h2 {
    font-size: 0.85rem;
  }
  .container .inner-content .text p, .container .inner-content .text span {
    font-size: 1.05rem;
    line-height: 1.6rem;
    width: 61%;
  }
  .container .inner-content input {
    width: 18.85rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 630px) {
  .container .inner-content .text h1 {
    font-size: 3.25rem;
    line-height: 3rem;
    padding-bottom: 0.15rem;
  }
  .container .inner-content .text h2 {
    font-size: 0.85rem;
  }
  .container .inner-content .text p, .container .inner-content .text span {
    font-size: 1rem;
    line-height: 1.55rem;
    width: 62.5%;
  }
  .container .inner-content input {
    width: 18.85rem;
  }
}
@media screen and (min-width: 543px) and (max-width: 599px) {
  .container .inner-content .text h1 {
    font-size: 3.25rem;
    line-height: 3rem;
    padding-bottom: 0.15rem;
  }
  .container .inner-content .text h2 {
    font-size: 0.85rem;
  }
  .container .inner-content .text p, .container .inner-content .text span {
    font-size: 1rem;
    line-height: 1.55rem;
    width: 67.5%;
  }
  .container .inner-content input {
    width: 18.85rem;
  }
}
@media screen and (min-width: 491px) and (max-width: 542px) {
  .container .inner-content .text h1 {
    font-size: 3.25rem;
    line-height: 3rem;
    padding-bottom: 0.15rem;
  }
  .container .inner-content .text h2 {
    font-size: 0.85rem;
  }
  .container .inner-content .text p, .container .inner-content .text span {
    font-size: 1rem;
    line-height: 1.6rem;
    width: 57.5%;
  }
  .container .inner-content input {
    width: 18.85rem;
  }
}
@media screen and (min-width: 418px) and (max-width: 490px) {
  .container .inner-content .text h1 {
    font-size: 3rem;
    width: 50%;
    line-height: 2.75rem;
    padding-bottom: 0.25rem;
  }
  .container .inner-content .text h2 {
    font-size: 0.85rem;
  }
  .container .inner-content .text p, .container .inner-content .text span {
    font-size: 1rem;
    line-height: 1.6rem;
    width: 75%;
  }
  .container .inner-content input {
    width: 18.85rem;
  }
}
@media screen and (max-width: 417px) {
  .container .inner-content .text h1 {
    font-size: 3rem;
    width: 50%;
    line-height: 2.75rem;
    padding-bottom: 0.25rem;
  }
  .container .inner-content .text h2 {
    font-size: 0.85rem;
  }
  .container .inner-content .text p, .container .inner-content .text span {
    font-size: 1rem;
    line-height: 1.6rem;
    width: 85%;
  }
  .container .inner-content input {
    width: 18.85rem;
  }
}
* {
  box-sizing: border-box;
  margin: auto;
  user-select: none;
}

html,
body {
  margin: auto;
  width: 100%;
  height: 100vh;
  background-color: #eff6ff;
}

body {
  overflow-y: none;
  overflow-x: hidden;
}

main {
  padding: 0;
  margin: 0;
  background: #eff6ff;
}

img {
  display: block;
  width: 100%;
  height: auto;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  font-family: "book";
}

h1 {
  font-size: 1.35rem;
  font-family: book;
  font-weight: 100;
  color: #000;
  text-decoration: none;
  text-shadow: none;
}

h2 {
  font-size: 0.8rem;
  font-family: medium;
  font-weight: 100;
  color: #000;
  text-decoration: none;
  text-shadow: none;
}

h3,
h4,
h5,
h6 {
  font-family: "medium";
  color: #000;
  text-shadow: none;
}

p {
  font-family: book;
  font-size: 1.1rem;
  color: #000;
  text-shadow: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
}

span {
  font-family: bold;
  color: #000;
}

button {
  font-size: 0.8rem;
  font-family: medium;
  font-weight: 100;
}

/*# sourceMappingURL=global.css.map */
