@import '../global/Fonts.scss',
'../global/Colors.scss',
'../global/Buttons.scss',
'../scss/index.scss',
'../scss/about.scss',
'../scss/subscribe.scss',
'../scss/ads/ad-form.scss',
'../scss/ads/advertise.scss',
'../scss/ads/oldad-formats.scss',
'../scss/ads/ad-formats.scss',
'../scss/ads/advertise-with-us.scss',
'../scss/policies/privacy.scss',
'../scss/policies/checkmarks.scss',
'../scss/components/altcha.scss',
'../scss/components/footer.scss';

* {
  box-sizing: border-box;
  margin:auto;
} 
html,
body {
  margin: auto;
  width:100%;
  height: 100vh;
  background-color: #fff7ed;
}
body {
  overflow-y: scroll;
  overflow-x: hidden;
}   
main{
  padding:0;
  margin:0 auto;
  background:#fff7ed;
}
img {
  display: block;
  width: 100%;
  height: auto;
  outline: none;
  border: none;
}
a {
  text-decoration: none;
  font-family: 'book';
}

h1 {
  font-size: 1.35rem;
  font-family: 'book';
  font-weight: 100;
  color: $black;
  text-decoration: none;
  line-height: normal;
}
h2 {
  font-size: 0.8rem;
  font-family: medium;
  font-weight: 100;
  color: $black;
  text-decoration: none;
  line-height: normal;
}
h3,
h4,
h5,
h6 {
  font-family: 'medium';
  color: $black;
  line-height: normal;
}
p {
  font-family: 'book';
  font-size: 1.1rem;
  color: $black;
  line-height: normal;
}
li {
  font-family: 'book';
  font-size: 1.1rem;
  color: $black;
  line-height: normal;
}
span {
  font-family: bold;
  color: $black;
  line-height: normal;
}
button {
  font-size: 0.8rem;
  font-family: medium;
  font-weight: 100;
  line-height: normal;
}